<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Sean</title>
		<link rel="stylesheet" type="text/css" href="/static/main.css">

	</head>
	<body>
		<nav>
    		<ul>
				<form align="right">
				  <label class="LblPos">
					  <input type="submit" value="Login">
					  <input type="submit" value="Register">
				  </label>
				</form>
				<img src="{{url_for('static', filename='sean_logo.png')}}" align="middle" />
				<li><a class="active" href="/home">Home</a></li>
                <li><a class="active" href="{{url_for('news.get_positive_news')}}">Good News</a></li>
                <li><a class="active" href="{{url_for('news.get_happy_news')}}">Happy News</a></li>
    		</ul>
		</nav>
			<div>
				<input type="text" placeholder="Search news..">
			</div>
		<div class="container">
    		<div class="blurb">

				<img src="{{url_for('static', filename='index_image.png')}}" align="right" />
				<h1></h1>
				<p>In the midst of unprecedented health and humanitarian crises like the COVID-19 pandemic, the media is full of worrying headlines.</p>
				<ul>
					  <li>Tired of reading disturbing news?</li>
					  <li>Do you want to be in control of the news you consume?</li>
				</ul>
				<p>Sean, Sentiment and Emotion Analyzer for News, is here to help you take ownership of your news feed. Sean is a REST API for getting news with sentiments and emotions. You can get positive and uplifting news if you so choose. With the help of Sean, you can also track the sentiments and emotions of your brand in real time and over time.</p>
				<p>You can get news with sentiments and emotions by using the following parameters:</p>
				<ul>
					  <li>Keyword(s): You can get, for example, news that contains "Covid-19" by using q parameter.</li>
					  <li>Keyword(s) in title: You can also news that contains "Covid-19" in title by using qintitle parameter.</li>
				</ul>
				<p>In addition to q and qintitle, you can search news setting the following conditions: sources, domains, exclude_domains, from_param(date), to(date), language, sort_by,page, and page_size.</p>
    		</div>
			<footer>
    		<ul>
        		<li><a>Contact us</a></li>
				<li><a>Twitter</a></li>
				<li><a>Facebook</a></li>
        		<li><a href="https://github.com/Fassilsis">Github</a></li>
			</ul>
		</footer>
		</div>
	</body>
</html>
