aniso8601==9.0.1
appdirs==1.4.4
atomicwrites==1.4.0
attrs==19.3.0
backcall==0.2.0
bcrypt==3.2.0
bleach==3.1.5
blinker==1.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.3
cryptography==3.4.7
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dnspython==2.1.0
email-validator==1.1.2
emoji==1.2.0
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-ApiExceptions==1.1.2
Flask-Bcrypt==0.7.1
Flask-JWT-Extended==4.2.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-User==1.0.2.2
Flask-WTF==0.15.1
greenlet==1.1.0
idna==2.10
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
MarkupSafe==1.1.1
marshmallow==3.12.1
marshmallow-sqlalchemy==0.26.0
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
newsapi==0.1.1
newsapi-python==0.2.6
nltk==3.6.2
notebook==6.0.3
numpy==1.20.3
packaging==20.4
pandas==1.2.4
pandocfilters==1.4.2
parso==0.7.1
passlib==1.7.4
pickleshare==0.7.5
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
py==1.10.0
pycparser==2.20
Pygments==2.6.1
PyJWT==2.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.2.4
python-dateutil==2.8.1
pytz==2021.1
pywin32==228
pywinpty==0.5.7
pyzmq==19.0.1
qtconsole==4.7.5
QtPy==1.9.0
regex==2021.4.4
requests==2.25.1
Send2Trash==1.5.0
six==1.15.0
SQLAlchemy==1.4.16
SQLAlchemy-serializer==1.4.1
terminado==0.8.3
testpath==0.4.4
text2emotion==0.0.5
textblob==0.15.3
toml==0.10.2
tornado==6.0.4
tqdm==4.61.0
traitlets==4.3.3
urllib3==1.26.5
UserManager==0.5.3
virtualenv==20.4.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
WTForms==2.3.3
